// breakpoint
@mixin sm {
  @media (max-width: (767px)) {
    @content;
  }
}
@mixin md {
  @media (min-width: (768px)) {
    @content;
  }
}
@mixin lg {
  @media (min-width: (1240px)) {
    @content;
  }
}

// font-family
@mixin font-base($weight: 400) {
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: $weight;
}
@mixin font-accent($weight: 400) {
  font-family: brandon-grotesque, source-han-sans-japanese, sans-serif;
  font-weight: $weight;
}

// color
$white: #fafafa;
$grey-1: #e5e8eb;
$grey-2: #d8dde2;
$grey-3: #c4c6d6;
$grey-5: #9e9fa5;
$grey-7: #6b6d77;
$grey-8: #585a63;
$black: #333b40;
$pink-pastel: rgb(255, 245, 254);

$primary: rgb(198, 159, 180);
$secondary: rgb(108, 97, 131);
$bg-color: rgb(244, 236, 241);
$shadow-color: rgba(69, 28, 66, 0.13);

@function pale($color) {
  @return lighten(desaturate($color, 9%), 6%);
}
@function dark($color) {
  @return darken(desaturate($color, 10%), 10%);
}

// easing
$ease-out: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-out-back: cubic-bezier(0, 1.49, 0.55, 1.3);
$ease-out-back-fast: cubic-bezier(0.08, 1, 0.91, 1.15);

// flex center
@mixin flex-center($axis: column) {
  display: flex;
  flex-flow: $axis wrap;
  justify-content: center;
  align-items: center;
}

@mixin box-shadow {
  box-shadow: 0 4px 16px 0 $shadow-color;
}

// とりあえずいい感じにイメージを挿入するとき。
// これに加えて、background-image の指定が必要。
@mixin image {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 77%;
  background-color: rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include md {
    padding-top: 38%;
  }
}
